<%= stylesheet_link_tag "data", media: 'all', 'data-turbolinks-track': 'reload'%>
<div class="d-flex flex-column align-items-center">
    <p class="mb-2 dataTxt">Data is on the way...</p>
    <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
</div>


<%
=begin%>
 The following code is based on the pen "Scroll To Top" by Ismail Pal (@ispal) 
on CodePen: https://codepen.io/ispal/pen/mVaaJe  
<%
=end%>


<%
=begin%>
  TODO: Yann: CODE HERE SHOULD BE REMOVED
<%
=end%>